In [1]:
import pandas as pd

In [3]:
data = {'sudent':
 ['zhao', 'qian', 'sun', 'li', 'zhou', 'wu', 'zheng', 'wang'],
        'class': [1, 2, 2, 3, 3, 4, 1, 5],
        'score': [90, 80, 85, 75, 95, 70, 70,85]}
df = pd.DataFrame(data)
print(df)
print(df.columns)

  sudent  class  score
0   zhao      1     90
1   qian      2     80
2    sun      2     85
3     li      3     75
4   zhou      3     95
5     wu      4     70
6  zheng      1     70
7   wang      5     85
Index(['sudent', 'class', 'score'], dtype='object')

In [4]:
pd.DataFrame(data, columns=['class', 'student', 'score'])

   class student  score
0      1     NaN     90
1      2     NaN     80
2      2     NaN     85
3      3     NaN     75
4      3     NaN     95
5      4     NaN     70
6      1     NaN     70
7      5     NaN     85

In [5]:
print(df['class'])
print(df.score)

0    1
1    2
2    2
3    3
4    3
5    4
6    1
7    5
Name: class, dtype: int64
0    90
1    80
2    85
3    75
4    95
5    70
6    70
7    85
Name: score, dtype: int64

In [6]:
print(df.index)

RangeIndex(start=0, stop=8, step=1)

In [7]:
val = pd.Series([10, 9, 8], index=[2, 3, 4])
df['year'] = val
print(df)

  sudent  class  score  year
0   zhao      1     90   NaN
1   qian      2     80   NaN
2    sun      2     85  10.0
3     li      3     75   9.0
4   zhou      3     95   8.0
5     wu      4     70   NaN
6  zheng      1     70   NaN
7   wang      5     85   NaN

In [8]:
df['isnull'] = df.year.isnull()
print(df)

  sudent  class  score  year  isnull
0   zhao      1     90   NaN    True
1   qian      2     80   NaN    True
2    sun      2     85  10.0   False
3     li      3     75   9.0   False
4   zhou      3     95   8.0   False
5     wu      4     70   NaN    True
6  zheng      1     70   NaN    True
7   wang      5     85   NaN    True

In [9]:
del df['isnull']
print(df)

  sudent  class  score  year
0   zhao      1     90   NaN
1   qian      2     80   NaN
2    sun      2     85  10.0
3     li      3     75   9.0
4   zhou      3     95   8.0
5     wu      4     70   NaN
6  zheng      1     70   NaN
7   wang      5     85   NaN